<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <title>Technical Assignment</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style>
    body        { padding-top:80px; }
     hr {
       display: block;
       margin-top: 0.5em;
       margin-bottom: 0.5em;
       margin-left: 50px;
       margin-right: 50px;
       border-style: inset;
       border-width: 1px;
     }
    p.th {
      font-weight: bold;
      font-size: 14px;

    }
    p.name {
      font-size: 14px;
    }

  </style>
</head>
<body>
<div class="container">

  <div class="jumbotron text-center">
      <h1 >Greetings From Gani</h1>
<hr>
    <form>
        <table cellpadding="7" cellspacing="7">
          <tr>
              <td>
                <p class="th" align="left"> Nama Lengkap </p>
              </td>
<td>
  <p class="name">Alwigani Rachman Badawi</p>
</td>
          </tr>
          <tr>
            <td>
              <p class="th" align="left"> Universitas/Instansi </p>
            </td>
            <td>
              <p class="name">Stmik Akakom</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="th" align="left"> Jurusan </p>
            </td>
            <td>
              <p class="name">Teknik Informatika</p>
            </td>
          </tr>

          <tr>
            <td>
              <p class="th" align="left"> Angkatan </p>
            </td>
            <td>
              <p class="name">2012</p>
            </td>
          </tr>

        </table>


    </form>
<hr>
    <p> Motivasi saya mengikuti <b> Fullstack Javascript Workshop</b> adalah untuk
    belajar hal baru dan mendalami Node.js </p>
<hr>
    <p class="name" align="left"> Fullstack Javascript Workshop Technical Assignment</p>

  </div>
</div>
</body>
</html>