<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <title>Technical Assignment</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style>
    body        { padding-top:80px; }

  </style>
</head>
<body>
<div class="container">

  <div class="jumbotron text-center">
      <h1 >Greetings From Gani</h1>
<hr>
    <form>
        <table width="40%" style="text-align: left;">
          <tr>
              <td><b>Nama Lengkap</b></td>
                <td>Alwigani Rachman Badawi</td>
          </tr>
          <tr>
            <td><b>Universitas/Instansi</b></td>
            <td>Stmik Akakom</td>
          </tr>
          <tr>
            <td><b>Jurusan</b></td>
            <td>Teknik Informatika</td>
          </tr>

          <tr>
            <td><b> Angkatan </b></td>
            <td>2012</td>
          </tr>
        </table>


    </form>
<hr/>
    <p style="text-align: left;">Motivasi saya mengikuti <b> Fullstack Javascript Workshop</b> adalah untuk
    belajar hal baru dan mendalami Node.js </p>
<hr/>
    <span style="float:left;">Fullstack Javascript Workshop Technical Assignment</span>

  </div>
</div>
</body>
</html>